*{
	margin:0;
}


/* Cabecera */

/*Estilos para a todos los contenedores para conseguir una posicion fija*/
.wrapper{
	transition: top 0.3s;
	position: fixed;
	width: 100%;
	top:0;
	background-color: #333;
}

/*Estilos para el contenedor general*/
.menu{

	display: flex;
	justify-content: space-between;
	height: 5vh;
}
.menu a {
	text-decoration: none;
	color: #f2f2f2;
	padding: 5px;

}
.menu i {
	padding-right: 5px;
}

/*Estilos para el logo y el nombre*/
.logo{
	display: flex;
}
.logo a{
	display: flex;
	align-items: center;
}

/*Estilos para los botones del menú*/
.enlaces{

	
	display: flex;
	justify-content: flex-end;
	align-items: center;

	
}

.enlaces a {
	
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.enlaces a:hover {
	background-color: #ddd;
  	color: black;
}

.movil{
	display: none;
}
.menuMovil{
	display: none;
}
.derecha{
	display: none;
}

/*Fondo cabecera*/

.fondo{
	height: 100vh;
	background: url(../img/cabecera.jpg) no-repeat center center ;
	background-size: cover;
}

/* Sección proyectos */

.proyectos{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 2%;
	padding-bottom: 2%;

	background: url(../img/fondo.jpg) no-repeat center center ;
	background-size: cover;
		
}

.unProyecto{

	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3%;	
}

.texto {
	padding-top: 2%;
}


/* Seccion de contacto */

.contacto {
	background: url(../img/contacto.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 2%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.about{
	
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.redes{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.redes a {
	text-decoration: none;
	color:black;
}

.contacto .logos:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transition: 1.5s;
	-webkit-transition:1.5s;
}




/* media query <999px */

@media (max-width: 400px){

	.logo span{
		display: none;
	}
		.menu .enlaces {
		display: none;	
	}

	.movil{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 5px;
	}
	.burger{
		color:#ddd;
		background-color: #333;
		border:none;
		cursor:pointer;
	}

	.menuMovil{
		position: absolute;
		right: 0;
		background-color: rgba(51,51,51,0.5);
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.derecha{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	/*	background-color: red;*/
		width: auto;

	}

	.derecha a {
	padding: 5px;
	text-decoration: none;
	color: #f2f2f2
	
	}

}